@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
	--accent-color: #da543c;
}

* {
	font-family: 'Poppins', sans-serif;
}

.container {
	margin: auto;
	min-height: 0;
	min-width: 0;
}

@media (orientation: landscape) {
	.container {
		height: 70vh;
		max-width: 80vw;
	}

	.item {
		height: 100%;
	}
}

@media (orientation: portrait) {
	.container {
		width: 80vw;
		max-width: 70vh;
	}

	.item {
		width: 100%;
	}
}

.item {
	aspect-ratio: 1/1;	
	border: 1px solid #fff;	
	cursor: pointer;

	/* to prevent overflow of items from grid */
	overflow: hidden; 
  min-width: 0;
}

header {
	text-align: center;	
}

.title {
	font-family: 'Permanent Marker', cursive;
	color: #222222;
}

#scores {
	margin: auto;
	width: 70vmin;
	font-size: small;
}

@media (min-width: 769px) {
  #scores {
    font-size: medium;
  }
}

footer {
  text-align: center;
  font-size: small;
  margin: 0.5rem;
  margin-top: 2rem;
}

.name {
	color: var(--accent-color);
}

/* animations */

.shake {
  animation: shake 0.8s;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  0% {transform: translateX(0);} 
  10%, 30%, 50%, 70%, 90% {transform: translateX(-8px);} 
  20%, 40%, 60%, 80%,100% {transform: translateX(8px);} 
} 

/* utilities */
.m-4 {
  margin: 2rem;
}

.grid {
	display: grid;
}

.aspect-square {
	aspect-ratio: 1/1;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.justify-between {
	justify-content: space-between;
}

.mr-2 {
	margin-right: 0.5rem;
}